.section-cards{
    &__header{
        //text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
    }
    &__subtitle{
        color:black;
        font-size: 1rem;
    }
    &__products-search-container{
        padding: 1rem;
        background-color: #f65601;
        color: white;
        height: 150px;
  /*      background-image: url(/assets/images/IMG-20221202-WA0024.jpg);*/
        background-size:100%;
        object-fit:cover;
        margin: 5px;

    }
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}





@media screen and (min-width: 1000px) {
    .section-cards{
        &__header{
            display: flex;
        }
    }
    
}