/* =========== MAIN =============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
//    width: 600px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.main-title{
//    position: relative;
    padding: 50px 10px 10px 10px;
}

.main-title,
#gender-label,
label {
    margin-bottom: 0.5rem;
}

.main-title {
    text-align: center;
    color: white;
    margin: 0.5rem 1rem;
}

.form {
 //   background-color:;
    color: $color-bg-primary;
//    box-shadow: 0px 0px 0.8rem black;
    padding: 0.5rem;
}

.form-container,
.form-container-btn {
//    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: 0.5rem;
    background-color: $color-bg-secundary;

}
.form-container-label{
    color: $color-bg-primary;
} 

.form-container__input {
    width: 100%;
    background: $color-bg-secundary;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: white;
    border: none;
    border-bottom: 1px solid $color-bg-primary;
    outline: none;
    &:valid{
        background: $color-bg-secundary;
        color: white;
        border: none;
        border-bottom: 1px solid $color-bg-primary;
    }
    &:focus{
        background: $color-bg-secundary;
        color: $color-bg-primary;
        border: none;
        border-bottom: 1px solid $color-bg-primary;
    }
}    



/* .form-container__input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: #1844d5;
    border: none;
  } */

.form-container__radio-control {
    margin-right: 0.4rem;
}

.form-container__radio {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
}

.btn-container__control {
    width: 6rem;
    background-color: $color-bg-primary;
    color: white;
    padding: 3px;
    text-align: center;
    border-radius: 0.3rem;
    border: $color-bg-primary solid 1px;
    margin-top: 0.5rem;
    &:hover{
        border:white solid 1px;
        background-color: $color-bg-secundary;
        color : $color-bg-primary;
    }
}

.form-container-btn {
    align-items: left;
}



@media screen and (min-width: 600px) {
    .form-container {
        
        width: 100vh;
        //flex-direction: row;
        justify-content:space-around ;

        &__input {
            padding: 5px;
            margin: 5px;
            justify-content: space-between;
        }
        &__radio{
            flex-direction: row;
        }
    }
}
