.header{
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    height: 50px;
    background-color: #F65601;
    display: flex;
    align-items: center;
    
    position: relative;
    &__logo{
        height: 45px;
        border-radius: 50%;
    }
    &__menu-label{
        color: white;
        //margin-left: auto;
        height: 42%;
        background-color: #F65601;
        width: 42px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-btn{
        position:absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    &__menu-btn:checked ~ .navbar__nav_links-container{
        height: calc(100vh - 50px);

    }



    &__menu-icon{
        height: 2px;
        background-color: #F65601;
        width: 18px;
        position: relative;
        &::after,&::before{
            content: '';
            height: 2px;
            background-color: #F65601;
            position: absolute;
            width: 100%;

        }
        &::after{
            top: 5px;
        }
        &::before{
            top: -5px;
        }

    }

    &__menu-btn:checked ~ &__menu-label &__menu-icon{
        background-color: transparent;
        &::after{
            transform: rotate(45deg);
            top: 0;
        }
        &::before{
            transform: rotate(-45deg);
            top: 0;
        }
    }


    &__nav_links-container{
          list-style: none;
          position: absolute;
          top: 50px;
          background-color: #F65601;
          width: 100%;
          height: 0;
          overflow: hidden;
          transition: all .3s ease-out;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    }
    &__nav-item{
        padding: 1.25rem 1rem;

        &:not(:last-child){
            border-bottom: 1px solid white;   
        }
    }
    &__nav-link{
        color: #F65601;
    }
}

.user-navbar{
   
    margin-left: auto;
    color: black;
    display: flex;
    gap: .5rem;
    padding: 0 1rem;
    align-items: center;
    &__user-avatar{
        width: 40px;
    }
}

@media screen and (min-width:600px) {
    .navbar{
        &__menu-label, &__menu-btn{
            display: none;
        }
        &__nav_links-container{
            position: static;
            flex-direction: row;
            height: 100% !important;
            width: auto;
            background-color: transparent;
        }
        .user-navbar{
            order:3;
        }
    }
}
