.card {
   margin: 1rem;
   border: 1px solid white;
   &__header {
      height: 120px;
      background-color:#F65601;
   }
   &__img {
      height: 120px;
   }
   &__body {
      padding: 1rem;
   }
   &__title {
      font-weight: 500;
      font-size: 1.5rem;
      border-bottom: 2px solid white;
   }
   &__description {
      padding: 1.5rem 0;
   }
   &__price {
      font-weight: 500;
      font-size: 1.25rem;
      color: black;
   }
   &__footer {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
   }
   &__date {
//      color: background-image: url("https://picsum.photos/id/237/600/400");;
   }
   &__btn-container {
   }
   &__btn {
      padding: 1rem;
      background-color: red;
   }
}
