*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(172, 28, 28);
    display:inline-block;
}

html{
    font-size: 12px;
}

@font-face {
    font-family: 'scriptina';
    src: url('/assets/fonts/SCRIPTIN.ttf') format("truetype");
    font-weight: normal;
    font-style:italic;
    text-transform: capitalize;
 }

@media screen and (min-width:600px) {
    html{
        font-size: 16px;
    }
    
}