*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #F65601;
    display:inline-block;
}

html{
    font-size: 12px;
    background-color: $color-bg-secundary;
}

@font-face {
    font-family: 'scriptina';
    src: url('/assets/fonts/SCRIPTIN.ttf') format("truetype");
    font-weight: normal;
    font-style:italic;
    text-transform: capitalize;
 }

@media screen and (min-width:600px) {
    html{
        font-size: 16px;
    }
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}